<th:block>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<!--        <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
        <title th:text="${title}"></title>
        <link rel="icon" th:href="${favicon}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/reset-css.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<!--        <script th:src="@{/js/jquery-3.3.1.min.js}"></script>-->
<!--        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->


        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <link rel="stylesheet"
              href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<!--        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>-->
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
<!--        <script type="text/javascript"-->
<!--                src="http://code.jquery.com/ui/1.10.4/jquery-ui.js">-->
<!--        </script>-->
<!--        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />-->
<!--        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>-->
<!--        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>-->
<!--        <script src="jQuery.ui.datepicker.js"></script>-->

<!--        <script th:src="@{/js/job.js}"></script>-->
    </head>
</th:block>