<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="~{fragments/head}"></th:block>

</head>
<body>
<div class="container-fluid">
    <header>
        <!--        <script th:src="@{/js/job.js}"></script>-->
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <br>
    <div>
        <main class="container">

            <div align="center" style="margin-top: 100px">
                <h2> Succeeded!</h2>
                <h5>Yours Info</h5>
                <span>Your firstname:</span><span th:text="${model.firstname}"></span><br/>
                <span>Where are you born(town):</span><span th:text="${model.town}"></span><br/>
                <span>Favorite season:</span><span th:text="${model.season}"></span><br/>
                <span>Favorite sport:</span><span th:text="${model.sport}"></span><br/>
                <span>Favorite username:</span><span th:text="${model.username}"></span><br/>
                <span>Favorite football team:</span><span th:text="${model.team}"></span><br/>
                <span>Favorite tv channel:</span><span th:text="${model.tv}"></span><br/>
                <span>Today:</span><span th:text="${model.today}"></span><br/>

            </div>
            </br>
            <a th:href = "@{/}"  class="btn btn-warning col-3">Back</a>
            </br>
        </main>
    </div>

    </br>

</div>
<footer>
    <div th:include="~{fragments/footer}"></div>
</footer>

</body>
</html>


