<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main>
        <div class="container">
            <h1>QUESTIONNAIRE</h1>
            <h5>press buttons and give an answer</h5>
            <a>ABOUT</a> <button class="button"><span><a style="color: black" href="/job">work</a></span></button>
            <a>ABOUT</a><button class="button" ><span ><a style="color: black" href="/question">you</a></span></button>
            <a>ABOUT</a> <button class="button"><span><a style="color: black" href="/drink">Drink</a></span></button>
        </div>
        </br>
        <div style="font-size: medium; color: black">

            Please take a few minutes and fill out our survey, which is completely free. </br>
            A few normal questions about you and your preferences. </br>
            Thank you! </br>

        </div>
    </br>
</br>
        <div> >>>>>>>>>  2017</div>
        <div> >>>>>>>>>>>>>  2018</div>
        <div> >>>>>>>>>>>>>>>>>   2019</div>
        <div> >>>>>>>>>>>>>>>>>>>>>   2020</div>
        <div> >>>>>>>>>>>>>>>>>>>>>>>>>>   2021</div>
        <div> >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>   2022</div>
        <div> >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>   2023</div>
        <div> >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> ..................</div>
</br>
</br>

</main>
<footer>
    <div th:include="~{fragments/footer}"></div>
</footer>
</div>
</body>
</html>